.firstGame {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstGame .textGame {
    margin: 18px;
}

@media (max-width: 450px) {
    .firstGame .textGame {
        font-size: 40px;
    }
}