.giftComponent {
  position: relative;
  height: 300px;
  width: 80%;
  border-radius: 16px;
  margin: 12px;

  --md-elevation-level: 2;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.text {
  flex: 1 1 auto;
  margin: 18px;
}
.image {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 20%;
  border-radius: 16px;
}

.image img {
  width: 80%;
  position: absolute;
  bottom: -10%;
  right: -10%;
}

a.giftComponent {
  text-decoration: none;
  color: inherit;  
}

.price {
  margin: 2px 6px;
}

@media (max-width: 800px) {
  .giftComponent {
    position: relative;
    height: 300px;
    width: 90%;
    border-radius: 16px;
    margin: 12px;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .image {
    align-self: flex-end;
    border-radius: 0;
    width: 80%;
  }
  
  .image img {
    width: 80%;
    position: relative;
    right: -16%;
  }
}
