@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("css/theme.css");

:root {
  font-family: "Montserrat";
  --my-headline-font: "Montserrat";
  --my-title-font: "Montserrat";
  --my-plain-font: system-ui;
  --md-icon-font: "Material Symbols Outlined";
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
